{
    ">>": "__merge_lights__",
    "__merge_lights__": {
        "type": "Merge2",
        "inputs": ["<<", "__write_lights__"],
        "attr": {{ attrs["merge"]["over"] | tojson }}
    },
    "__write_lights__": {
        "type": "Write",
        "inputs": ["__dot_lights__"],
        "attr": {{ attrs["output"]["flat"] | tojson }}
    },
    "__dot_lights__": {
        "type": "Dot",
        "inputs": [],
        "attr": {
            "label": "Connect to lights render"
        }
    }
}
