"shuffle": {
    "default": {
        "in": "rgba",
        "in2": "None",
        "out": "rgba",
        "out2": "None",
        "red": "rgba.red",
        "green": "rgba.green",
        "blue": "rgba.blue",
        "alpha": "rgba.alpha",
        "disable": true
    },
    "terminator": {
        "in": "rgba",
        "in2": "None",
        "out": "rgba",
        "out2": "None",
        "red": "rgba.red",
        "green": "rgba.green",
        "blue": "rgba.blue",
        "alpha": "rgba.alpha",
        "disable": true,
        "hide_input": true
    }
}
