"merge": {
    "over": {
        "operation": "over",
        "output": "rgba"
    },
    "under": {
        "operation": "under",
        "output": "rgba"
    },
    "over_all": {
        "also_merge": "all",
        "operation": "over",
        "output": "rgba"
    },
    "under_all": {
        "also_merge": "all",
        "operation": "under",
        "output": "rgba"
    }
}
