"premult": {
    "default": {
        "channels": "all",
        "alpha": "rgba.alpha",
        "disable": false
    },
    "disabled": {
        "channels": "all",
        "alpha": "rgba.alpha",
        "disable": true
    }
}
