"copy": {
    "base": {
        "from0": "rgba.alpha",
        "from1": null,
        "from2": null,
        "from3": null,
        "to0": "base.alpha",
        "to1": null,
        "to2": null,
        "to3": null,
        "srcchan": null,
        "dstchan": null
    },
    "grade": {
        "from0": "rgba.alpha",
        "from1": null,
        "from2": null,
        "from3": null,
        "to0": "grade.alpha",
        "to1": null,
        "to2": null,
        "to3": null,
        "srcchan": null,
        "dstchan": null
    },
    "wheel": {
        "from0": "rgba.alpha",
        "from1": "WHEEL_OBJECT_ID.red",
        "from2": "WHEEL_OBJECT_ID.red",
        "from3": null,
        "to0": "wheel.alpha",
        "to1": "rgba.alpha",
        "to2": "wheel.cutout",
        "to3": null,
        "srcchan": null,
        "dstchan": null
    },
    "conflict": {
        "from0": "rgba.alpha",
        "from1": null,
        "from2": null,
        "from3": null,
        "to0": "conflict.alpha",
        "to1": null,
        "to2": null,
        "to3": null,
        "srcchan": null,
        "dstchan": null
    },
    "accessory": {
        "from0": "rgba.alpha",
        "from1": null,
        "from2": null,
        "from3": null,
        "to0": "accessory.alpha",
        "to1": null,
        "to2": null,
        "to3": null,
        "srcchan": null,
        "dstchan": null
    },
    "pack": {
        "from0": "rgba.alpha",
        "from1": null,
        "from2": null,
        "from3": null,
        "to0": "pack.alpha",
        "to1": null,
        "to2": null,
        "to3": null,
        "srcchan": null,
        "dstchan": null
    }
}
