"shuffleCopy": {
    "base_alpha_sub": {
        "in": "rgba",
        "in2": "rgba",
        "out": "rgba",
        "out2": null,
        "red": "red2",
        "green": "green2",
        "blue": "blue2",
        "alpha": "rgba.alpha"
    }
}
