"output": {
    "flat": {
        "channels": "rgb",
        "file_type": "jpg",
        "_jpeg_quality": 1.0,
        "_jpeg_sub_sampling": "4:4:4",
        "colorspace": "sRGB"
    },
    "layered": {
        "channels": "rgba",
        "file_type": "png",
        "datatype": "8 bit",
        "colorspace": "sRGB"
    }
}
